/* .mainContainer {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #9966cc;
} */

.sectionDemo {
  height: 100%;
  width: 100%;
  background-color: #9966cc;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #dda0dd),
    color-stop(100%, #9966cc)
  );
  background-image: -webkit-linear-gradient(#9966cc, #9966cc);
  background-image: linear-gradient(#9966cc, #9966cc);
}
