.mushoVibrant {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* .mushoVibrant */
.typeCenteredNav {
  align-items: center;
  background-color: #e52e57;
  display: flex;
  height: 59px;
  justify-content: space-between;
  left: 0;
  padding: 8px;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 6;
}

/* .mushoVibrant  */
.brand {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  padding: 0px 8px;
  position: relative;
}

/* .mushoVibrant  */
.icon {
  height: 24px;
  position: relative;
  width: 24px;
}

/* .mushoVibrant  */
.brandName {
  color: #f8e7aa;
  font-family: 'Work Sans-Regular', Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 21px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

/* .mushoVibrant  */
.navLinks {
  align-items: center;
  border: 1px solid;
  border-color: #f8e7aa;
  border-radius: 8px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  height: 48px;
  justify-content: center;
  margin-bottom: -2.5px;
  margin-top: -2.5px;
  padding: 12px 20px;
  position: relative;
}

/* .mushoVibrant  */
.textContainer {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  justify-content: center;
  padding: 0px 4px;
  position: relative;
}

/* .mushoVibrant  */
.CTA {
  all: unset;
  box-sizing: border-box;
  color: #f8e7aa;
  font-family: 'Work Sans-Regular', Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19.2px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

/* .mushoVibrant  */
.div {
  align-items: center;
  display: inline-flex;
  gap: 16px;
  height: 38px;
  left: 486px;
  padding: 0px 16px;
  position: absolute;
  top: 11px;
}

/* .mushoVibrant  */
.navLink {
  align-items: center;
  align-self: stretch;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  padding: 0px 16px;
  position: relative;
}

/* .mushoVibrant  */
.navLabel {
  color: #f8e7aa;
  font-family: 'Work Sans-Regular', Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19.2px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

/* .mushoVibrant  */
.typeSimpleTitle {
  align-items: center;
  align-self: stretch;
  background-color: #e52e57;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  padding: 232px 16px 80px;
  position: relative;
  width: 100%;
  z-index: 5;
}

/* .mushoVibrant  */
.contentWrapper {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 32px 32px;
  max-width: 1064px;
  position: relative;
  width: 100%;
}

/* .mushoVibrant  */
.copyComponent {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 40px;
  justify-content: center;
  min-width: 280px;
  position: relative;
}

/* .mushoVibrant */
.headingText {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  position: relative;
  width: 100%;
}

/* .mushoVibrant  */
.heading {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  align-self: stretch;
  color: #f8e7aa;
  display: -webkit-box;
  font-family: 'Syne-Bold', Helvetica;
  font-size: 96px;
  font-weight: 700;
  letter-spacing: -1.92px;
  line-height: 96px;
  margin-top: -1px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
}

/* .mushoVibrant  */
.subheading {
  align-self: stretch;
  color: #f4d66a;
  font-family: 'Work Sans-Regular', Helvetica;
  font-size: 38px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 45.6px;
  position: relative;
}

/* .mushoVibrant */
.CTAButton {
  align-items: center;
  align-self: stretch;
  background-color: #9700b0;
  border-radius: 8px;
  display: flex;
  flex: 0 0 auto;
  gap: 4px;
  justify-content: center;
  max-width: 360px;
  padding: 16px 48px;
  position: relative;
  width: 100%;
}

/* .mushoVibrant  */
.textWrapper {
  all: unset;
  box-sizing: border-box;
  color: #f9e8ab;
  font-family: 'Work Sans-Regular', Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 25.2px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

/* .mushoVibrant  */
.typeBigStatement {
  align-items: center;
  align-self: stretch;
  background-color: #e52e57;
  display: flex;
  flex: 0 0 auto;
  gap: 48px;
  justify-content: center;
  padding: 144px 16px;
  position: relative;
  width: 100%;
  z-index: 4;
}

/* .mushoVibrant  */
.textContent {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 8px;
  max-width: 1024px;
  position: relative;
}

/* .mushoVibrant  */
.benefitHeading {
  align-self: stretch;
  color: #ee8cff;
  font-family: 'Syne-Bold', Helvetica;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 33.6px;
  margin-top: -1px;
  position: relative;
}

/* .mushoVibrant  */
.p {
  align-self: stretch;
  color: #f8e7aa;
  font-family: 'Syne-Bold', Helvetica;
  font-size: 51px;
  font-weight: 700;
  letter-spacing: -1.02px;
  line-height: 61.2px;
  position: relative;
}

/* .mushoVibrant  */
.typeSuperGallery {
  align-items: center;
  align-self: stretch;
  background-color: #e52e57;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 1058px;
  justify-content: center;
  padding: 120px 16px;
  position: relative;
  width: 100%;
  z-index: 3;
}

/* .mushoVibrant  */
.container {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  max-width: 1200px;
  position: relative;
  width: 100%;
}

/* .mushoVibrant  */
.headingContainer {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
  width: 100vw;
}

/* .mushoVibrant  */
.heading2 {
  align-self: stretch;
  color: #f8e7aa;
  font-family: 'Syne-Bold', Helvetica;
  font-size: 51px;
  font-weight: 700;
  letter-spacing: -1.02px;
  line-height: 61.2px;
  margin-top: -1px;
  position: relative;
  text-align: center;
}

/* .mushoVibrant  */
.subheading2 {
  align-self: stretch;
  color: #f4d66a;
  font-family: 'Work Sans-Regular', Helvetica;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 28.6px;
  position: relative;
  text-align: center;
}

/* .mushoVibrant  */
.showcaseContainer {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 24px 24px;
  justify-content: center;
  max-width: 1200px;
  position: relative;
  width: 100%;
}

/* .mushoVibrant  */
.imageLummi {
  flex: 1;
  flex-grow: 1;
  height: 676px;
  min-width: 320px;
  object-fit: cover;
  position: relative;
}

/* .mushoVibrant  */
.showcaseGrid {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 24px 24px;
  min-width: 320px;
  position: relative;
}

/* .mushoVibrant  */
.img {
  flex: 1;
  flex-grow: 1;
  height: 209.33px;
  min-width: 252px;
  object-fit: cover;
  position: relative;
}

/* .mushoVibrant  */
.propertySimple {
  align-items: center;
  align-self: stretch;
  background-color: #e52e57;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  padding: 160px 16px;
  position: relative;
  width: 100%;
  z-index: 2;
}

/* .mushoVibrant  */
.headingTextWrapper {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  position: relative;
  width: 100%;
}

/* .mushoVibrant  */
.headingText2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  position: relative;
  width: 100%;
}

/* .mushoVibrant  */
.heading3 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  align-self: stretch;
  color: #f8e7aa;
  display: -webkit-box;
  font-family: 'Syne-Bold', Helvetica;
  font-size: 51px;
  font-weight: 700;
  letter-spacing: -1.02px;
  line-height: 61.2px;
  margin-top: -1px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
}

/* .mushoVibrant  */
.stepsGrid {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 40px 40px;
  justify-content: center;
  max-width: 1200px;
  position: relative;
  width: 100%;
}

/* .mushoVibrant  */
.cards {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
  justify-content: center;
  max-width: 360px;
  min-width: 280px;
  position: relative;
}

/* .mushoVibrant  */
.imageLummi2 {
  align-self: stretch;
  height: 224px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

/* .mushoVibrant  */
.copy {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  position: relative;
  width: 100%;
}

/* .mushoVibrant  */
.step {
  align-self: stretch;
  color: #ee8cff;
  font-family: 'Work Sans-Regular', Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19.2px;
  margin-top: -1px;
  position: relative;
  text-align: center;
}

/* .mushoVibrant  */
.featureTitle {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  align-self: stretch;
  color: #f8e7aa;
  display: -webkit-box;
  font-family: 'Work Sans-Regular', Helvetica;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 28.6px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
}

/* .mushoVibrant  */
.featureDescription {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  align-self: stretch;
  color: #f4d66a;
  display: -webkit-box;
  font-family: 'Work Sans-Regular', Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 21px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
}

/* .mushoVibrant  */
.typeBigImage {
  align-items: flex-start;
  align-self: stretch;
  background-color: #e52e57;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 0px 0px;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 1;
}

/* .mushoVibrant  */
.benefitsImageLummi {
  background-image: url('../../public/imageLummiFinal.png');
  background-position: 50% 50%;
  background-size: cover;
  flex: 1;
  flex-grow: 1;
  height: 803px;
  min-width: 320px;
  position: relative;
}

/* .mushoVibrant  */
.benefitsCopy {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 8px;
  height: 803px;
  justify-content: center;
  min-width: 320px;
  padding: 80px 16px;
  position: relative;
}

/* .mushoVibrant  */
.copyComponent2 {
  align-items: flex-start;
  background-color: #e52e57;
  border-radius: 32px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 32px;
  justify-content: center;
  max-width: 524px;
  min-width: 304px;
  position: relative;
}

/* .mushoVibrant  */
.heading4 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  align-self: stretch;
  color: #f8e7aa;
  display: -webkit-box;
  font-family: 'Syne-Bold', Helvetica;
  font-size: 51px;
  font-weight: 700;
  letter-spacing: -1.02px;
  line-height: 61.2px;
  margin-top: -1px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
}

/* .mushoVibrant  */
.subheading3 {
  align-self: stretch;
  color: #f4d66a;
  font-family: 'Work Sans-Regular', Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 25.2px;
  position: relative;
}

/* .mushoVibrant  */
.typeHorizontal {
  align-items: center;
  align-self: stretch;
  background-color: #e52e57;
  display: flex;
  flex: 0 0 auto;
  gap: 16px;
  justify-content: space-around;
  padding: 48px 32px;
  position: relative;
  width: 100%;
  z-index: 0;
}

/* .mushoVibrant  */
.content {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  justify-content: space-between;
  max-width: 1200px;
  position: relative;
}

/* .mushoVibrant  */
.brand2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  position: relative;
}

/* .mushoVibrant  */
.icon2 {
  height: 32px;
  position: relative;
  width: 32px;
}

/* .mushoVibrant  */
.links {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  position: relative;
}

/* .mushoVibrant  */
.menu {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 32px;
  position: relative;
}

/* .mushoVibrant  */
.navLabel2 {
  color: #f8e7aa;
  font-family: 'Work Sans-Regular', Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19.2px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

/* .mushoVibrant  */
.legal {
  color: #f4d66a;
  font-family: 'Work Sans-Regular', Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19.2px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

/* .mushoVibrant  */
.social {
  flex: 0 0 auto;
  position: relative;
}
